
.Samburger {
  position: fixed;
  top: 20px;
  right: 20px;
}

.Menu {
  display: flex;
  flex-direction: column; 
  z-index: 1;
}

.menu-items, .logout-button  {
padding: 5px;
margin: 4px;
background-color: #e9e4e4;
border-radius: 8px;
text-decoration: none;
text-align: center;
color: rgb(22, 83, 197);
font-weight: 800;
border: none;
width: 8vw;
}

.Hamburger {
display: flex;
flex-direction: column;
align-items: self-end;

}


.menu-items:hover, .logout-button:hover  {
background-color: rgb(209, 209, 233);
font-size: 1.1em;
}


@media only screen and (max-width: 600px) {

.Hamburger{
  z-index: 2;
}

.Menu {
  display: flex;
  justify-content: right;
}

.menu-items, .logout-button{
  width: 30vw
}
}
