@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


.login-form-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient( to right, rgb(231, 213, 196), rgb(241, 183, 96)); 
}

.login-form-container {
    display: flex;
    position: relative;
    padding: 20vh;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgb(206, 143, 71), rgb(145, 100, 42));
    background-position: right center;
    background-repeat: no-repeat;
    width: 60%
}

.login-container, .redundant-login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: right;
    margin-left: 15vw; 
    flex: 1;
}

.login-container p{
    margin-top: 20px;
    font-family: "Indie Flower", cursive;
    font-weight: 600;
}

.login-container h2{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Register-link {
    text-decoration: none;
    color:rgba(0, 0, 255, 1)
}

.Register-link:hover {
    color:rgb(89, 89, 211)
}


.login-form-data input {
    border-radius: 8px;
    border: 1px solid gray;
    margin: 8px;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 400;
    outline: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}


.login-image-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%; 
    background: url("../images/output.png") right/cover no-repeat;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-sizing: border-box;
    background-origin: content-box;
}

.login-input:focus {
    border: 1px solid rgb(51, 51, 211);
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
}


/* Tablet viewports */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

    .login-form-data {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        background: url("../images/output.png") bottom/cover no-repeat;
    }

    .login-form-container {
        /* min-height: 100vh; */
        margin-bottom: 50%;
        display: flex;
        justify-content: center;
        padding: 20vh;
        border-radius: 8px;
        width: 60%;
    }

    .login-image-container {
        background: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .login-container, .redundant-login-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }

}


/* Mobile viewports */

@media only screen and (max-width: 600px) {

    .login-form-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-image-container, .redundant-login-container {
        display: none;
    }

    .login-container {
        padding: 20%;
        flex: 1;
        margin: 0;
    }
}