@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


.body-content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient( to right, rgb(231, 213, 196), rgb(241, 183, 96)); 
    font-family: "Indie Flower", cursive;
    padding: 3%;
}

.top-right {
    position: absolute;
    top: 1%;
    right: 1%;
  }

.genre-container, .content-container, .placeholder-container {
    display: flex;
}

.placeholder-container {
    padding-bottom: 50px;
}

.genre-content, .pie-chart-container {
    flex-direction: row;
    padding: 3%
}

.pie-chart {
    font-weight: 800;
}

.collection-content, .placeholder-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 3%;
    margin-right: 9%;
}

.line-chart-container {
    margin-left: 10vw;
}

/* Tablet viewports */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .genre-container, .content-container, .placeholder-container {
        display: flex;
        font-size: 1em;
        margin-bottom: 20px;
    }

    .pie-chart-container, .bar-chart-container, .line-chart-container {
        margin: 25px;
    }
    .genre-container {
        padding-top: 5%;
    }
    .pie-chart-container {
        padding: 0;
    }

    .line-chart-container { 
        margin-left: 15vw;
    }
  }
  
  
  /* Mobile viewports */
  
  @media only screen and (max-width: 600px) {
    .genre-container, .content-container, .placeholder-container {
        display: block;
        font-size: 1em;
        padding-top: 10vh;
    }

    .pie-chart-container, .bar-chart-container, .line-chart-container {
        margin-left: -25px;
    }
  }
  